<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <div style="height: 100%; padding: 100px 20px">
    <ion-text style="font-size: 1.5em" color="secondary">Settings</ion-text>
    <div style="height: 80%; width: 100%; margin-top: 10px; border-radius: 15px; background: #002c49" color="secondary">
      <ion-grid style="padding: 30px 0">
        <ion-row>
          <ion-col size="10" offset="1">
            Sound Effect
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="10" offset="1">
            <hr style="border-top: 5px solid #006399">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="10" offset="1">
            Notification Volume
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="10" offset="1">
            <hr style="border-top: 5px solid #006399">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="10" offset="1">
            Language
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5" offset="1">
            <!-- <div style="width: 100%; border: 2px solid #b3e4ff; border-radius: 10px; text-align: center; background: #006399; padding: 8px 0">
              Bahasa Indonesia
            </div> -->
            <ion-button class="settings-lang settings-lang-active" color="light">
              Bahasa Indonesia
            </ion-button>
          </ion-col>
          <ion-col size="5">
            <ion-button class="settings-lang" color="light">
              English
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
